<h2>Список парикмахеров:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
            
    </tr>
  </thead>
  <tbody>
    <% @results_b.each do |row| %>
    <tr>
      <th><%= row['id'] %></th>
      <td><%= row['barbername'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>