<p>Ваша электронная почта и немного о себе</p>                             
                                                                                                            
<form action="/contacts" method="POST" role="form">                                                         
                                                                                                            
  <div class="form-group">                                                                                  
    <label>Ваш email:</label>                                                                            
    <input name="email" type="text" class="form-control" placeholder="электронная почта">   
  </div>                                                                                                    
                                                                                                            
	<div class="form-group">                                                                            
		<label>Расскажите немного о себе:</label>                             
                                                                                                            
	<textarea name="story" class= "form-control" rows="3">                                              
	                                                                                                    
	</textarea>                                                                                         
                                                                                                            
                                                                                                            
  </div>                                                                                                    
                                                                                                            
	<button type="submit" class="btn btn-primary">Отправить</button>                           
                                                                                                            
</form>                                                                                                     