<h2>Список клиентов:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Datestamp</th>
    </tr>
  </thead>

  <tbody>
      <% @results.each do |row| %>
        <tr>
          <th><%= row['id'] %></th>
          <td><%= row['username'] %></td>
          <td><%= row['datestamp'] %></td>
        </tr>
      <% end %>
  </tbody>
</table>